.estilizacao{
    margin: 30px 70px 30px 30px;
    padding: 15px;
    background-color: lightskyblue;

}

.estilizacao-2{
    margin: 30px 70px 30px 30px;
    padding: 15px 29px;
    background-color: lightskyblue;
}
